<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>FAQ</title>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--  font-awesome -->
    <script src="https://use.fontawesome.com/1ff06e0c50.js"></script>
    <!-- /font-awesome -->
    <style>
        body {
            padding: 40px 0px;
            background-color: #eee;
        }
        h2 {
            text-align: center;
        }
        a[data-toggle="collapse"] {
            text-decoration: none;
        }
        .right {
            float: right;
        }
        .panel-heading {
            padding: 18px;
        }
        .submitLink {
            color: #1a8a34;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Welcome to TBC's FAQ page</h2>
    <p>This page contains some important frequently asked question that may come
        into your mind with we try our best possible answer to satisfy your answer.
        Don't worry! if you do not find your question please feel free to <strong class="submitLink" id="myBtn">submit
    your question!</strong> we will answer your question as quick as possible</p>
    <div class="panel-group" th:each="faq : ${faqs}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" th:text="${faq.question}">Your Question</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body" th:text="${faq.answer}">Our Best Answer</div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success up" th:attr="faq_id=${faq.id}"><i class="fa fa-thumbs-up"></i> <span class="badge" th:text="${faq.likeCount}">7</span></button>
                    <button type="button" class="btn btn-warning down right" th:attr="faq_id=${faq.id}"><i class="fa fa-thumbs-down"></i> <span class="badge" th:text="${faq.dislikeCount}">7</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/fragments/modal :: faqModalForm"></div>

<script>
    $(document).ready(function () {
        $(".up").click(function () {
            faqId = $(this).attr('faq_id');
            /*$.ajax({
                type: "POST",
                url: "/faq",
                data: "faqId=" + faqId + "&amp;type=up",
                success: function (response) {
                },
                error: function (error) {
                },
                complete: function () {
                }
            });*/
            console.log(faqId);
        });
    });
</script>

</body>
</html>
