<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"/>
    <link rel="stylesheet" th:href="@{/css/common/livechat.css}"/>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="live-chat">
    <header class="clearfix">
        <a href="#" class="chat-close">x</a>
        <h4>John Doe</h4>
        <span class="chat-message-counter">3</span>
    </header>
    <div class="chat">
        <form id="usernameForm" name="usernameForm">
            <fieldset>
                <input type="text" id="name" placeholder="Name" autocomplete="off" />
                <input type="text" id="email" placeholder="Email" autocomplete="off" />
                <input type="text" id="phone" placeholder="Phone" autocomplete="off" />
                <button type="submit" class="btn-submit">Start Chatting</button>
            </fieldset>
        </form>
        <p class="connecting">Connecting…</p>
        <div class="chat-history">
        </div>
        <!--<p class="chat-feedback">Your partner is typing…</p>-->
        <form action="#" method="post" id="messageForm">
            <fieldset>
                <input type="text" id="message" placeholder="Type your message…" autofocus="autofocus" autocomplete="off"/>
                <input type="hidden"/>
            </fieldset>
        </form>
    </div>
</div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script th:src="@{/js/common/livechat.js}"></script>
</body>
</html>